<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
   <title>Add new BlogPage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
            </div>
            <div class=" mb-3">
               <label for="floatingTextarea body">Body</label>
               <textarea class="form-control" placeholder="Body" name="body" id="floatingTextarea"></textarea>
            </div>
            <div class="mb-3">
                <label for="CoverImage" class="form-label">CoverImage</label>
                <input type="file" class="form-control" id="CoverImage" name="coverImage" aria-describedby="coverImage">
            </div>
            <div class=" mb-3">
               <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            

        </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>